
.rslides img {
height: 220px
}
.right-side-bar .block ul li a {
    font-size: 14px;
}

#notice-board ul a {
    font-size: 14px;
}

@media screen and (min-width: 1400px) {
    .mainwrapper .box {
        margin-right: 13px
    }
}

.flip-clock {
    text-align: center;
    -webkit-perspective: 400px;
    perspective: 400px;
    margin: 35px 20px 0px 50px;
    float: left;
}

.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
    box-sizing: border-box;
}

.flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
}

.flip-clock__slot {
    font-size: 1.5vw;
    display: block;
    margin-top: 10px;
    color: #3e006d;
    font-weight: bold;
}

.card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 3vw;
    line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 0.72em;
    color: #ec1e25;
    background: #70de2d;
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visiblity: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 1.8em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.card__bottom {
    color: #ec1e25;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #70de2d;
    background: #70de2d;
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
}

.card__bottom::after {
    display: block;
    margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

.card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.flip .card__back::before {
    -webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
    animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.flip .card__back .card__bottom {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
    animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@-webkit-keyframes flipTop {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%,
    99% {
        opacity: 0.99;
    }
    100% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipTop {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%,
    99% {
        opacity: 0.99;
    }
    100% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@-webkit-keyframes flipBottom {
    0%,
    50% {
        z-index: -1;
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 0.99;
    }
    100% {
        opacity: 0.99;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 5;
    }
}

@keyframes flipBottom {
    0%,
    50% {
        z-index: -1;
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 0.99;
    }
    100% {
        opacity: 0.99;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 5;
    }
}

button,
input,
optgroup,
select,
textarea {
    font-size: 11px!important;
    line-height: normal!important;
}

.mojib_countdown > img {
    height: 160px;
    margin: 0px 0px 0px 0px;
}

.mojib_countdown > a > img {
    height: 160px;
    margin: 0px 0px 0px 0px;
}

@media(max-width: 480px) {
    #countdown_block {
        width: 100%;
    }
    .mojib_countdown {
        margin-bottom: 10px;
    }
    .mojib_countdown > img {
        height: 140px;
    }
    .mojib_countdown > a > img {
        height: 140px;
    }
    .card {
        font-size: 10vw;
    }
    .flip-clock__slot {
        font-size: 6vw;
        margin: 10px 0 15px 0;
    }
    .flip-clock {
        position: relative;
        left: 15px;
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width: 1920px) {
    .flip-clock {
        position: relative;
        left: 15px;
        margin: 0px 0px 0px 0px;
    }
    .card {
        font-size: 2vw;
    }
    .flip-clock__slot {
        font-size: 1vw;
    }
}
.lineheight {
    line-height: 22px;
}

#right-content .block {
    display: block !important
}

#notice-board-ticker ul li {
    list-style: none;
}

#right-content .block {
    display: block !important
}
.column.block a {
    text-decoration: underline;
}

#right-content img {
    margin-right: 20px;
}

.imgcenterofficehead {
    padding-left: 50px;
}
.eservice-title {
    background-color: #609513 !important;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}

.block ul li {
    background: rgba(0, 0, 0, 0) url("/themes/responsive_npf/images/bg_block_list.png") no-repeat scroll center bottom;
    font-size: 120%;
    height: auto;
    list-style-type: none;
    margin-bottom: 5px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-top: 0;
}

body.bpsc-portal-gov-bd .wsis_prize {
    display: none
}
#right-content .block {
    display: block !important
}
.share-buttons img {
    width: 30px;
    padding: 2px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

img.img-responsive {
    height: 138px;
    width: 100%;
}

.displaynone{
    display: none;
}
ul.rslides.callbacks.callbacks1 {
    max-width: 100% !important;
    height: 800px !important;
}
section#bottom-sidebar{
    clear: both;
}

div#left-content.col-lg-8.twelve.columns{
    width: 90%;
    margin: 2% 5% 0% 5%;
}
#main-nav .navbar-nav>li>a{
    height: auto !important;
}
#main-nav .navbar {
    min-height: auto !important;
}
h3.varsity_title{
    font-size: 13px;
    float: right;
    position: relative;
    margin-top: 38px;
}
#main-nav .navbar-nav>li>a{
    font-size: 14px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}